{% extends "__layouts/admin.layout.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block main %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Catégorie</th>
        <th>Vendeur</th>
        <th>Ajouté le</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>
            <a href="{{ route('product', {slug: product.slug}) }}">{{ product.name }}</a>
          </td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <a href="{{ route('category', {category: product.category}) }}">{{ product.category }}</a>
          </td>
          <td>
            <a href="{{ route('profile-home', {username: product.seller}) }}">{{ product.seller }}</a>
          </td>
          <td>{{ product.created_at }}</td>
          <td>
            <a href="{{ route('update-product', {slug: product.slug}) }}">Modifier</a>
            <form action="{{ route('delete-product', {id: product.id}) }}" method="POST" class="delete-product-form">
              <input type="submit" value="Supprimer" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block javascripts %}
  <script>
    const deleteProductForms = document.querySelectorAll(".delete-product-form");

    deleteProductForms.forEach(form => {
      form.addEventListener("submit", e => {
        e.preventDefault();

        const confirmation = confirm("Êtes-vous sûr de vouloir supprimer cet article ?");
        if (!confirmation)
          return;

        form.submit();
      });

    });
  </script>
{% endblock %}