{% extends "_layout.twig" %}

{% block title %}Profil de {{ username }}{% endblock %}

{% block main %}
  {% if app.user %}
    <div><a href="{{ route('user-products', { username: username }) }}">Mes articles</a></div>
    <div><a href="{{ route('sign-out') }}">Déconnexion</a></div>
  {% else %}
    <div><a href="{{ route('user-products', { username: username }) }}">Articles de {{ username }}</a></div>
  {% endif %}

{% endblock %}