{% extends "__layouts/public.layout.twig" %}

{% block title %}Profil de {{ username }}{% endblock %}

{% block main %}
  {% if isUserProfile and isAdmin %}
  <li><a href="{{ route('admin-home') }}">Espace Admin</a></li>
  {% endif %}
  <li><a href="{{ route('user-products', { username: username }) }}">Voir les articles</a></li>
  {% if isUserProfile %}
  <li><a href="{{ route('add-product') }}">Ajouter un article</a></li>
  <li><a href="{{ route('sign-out') }}">Déconnexion</a></li>
  {% endif %}

{% endblock %}