{% extends "__layouts/public.layout.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block main %}
  <p>{{ product.description }}</p>
  <img src="/static/img/product/{{ product.image }}" alt="{{ product.name }}" />

  <div><a href="{{ route('profile-home', { username: sellerUsername }) }}">{{ sellerUsername }}</a></div>
{% endblock %}