{% extends "__layouts/public.layout.twig" %}

{% block title %}Modifier un article{% endblock %}

{% block main %}
  <div style="max-width: 500px">
    <img src="/img/product/{{ product.image }}" alt="{{ product.name }}" style="max-width: 100%" />
  </div>

  <form action="{{ route('update-product', {slug: product.slug}) }}" method="POST" enctype="multipart/form-data">
    <div>
      <label for="name">Nom de l'article</label>
      <input
        type="text"
        id="name"
        name="name"
        minlength="5"
        maxlength="100"
        value="{{ product.name }}"
        required
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="5"
        autocomplete="on"
        required
      >{{ product.description }}</textarea>
    </div>
    <div>
      <label for="price">Prix</label>
      <input
        type="number"
        name="price"
        id="price"
        min="0"
        step="1"
        value="{{ product.price }}"
        required
      />
    </div>
    <div>
      <label for="quantity">Quantité</label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        min="1"
        step="1"
        value="{{ product.quantity }}"
        required
      />
    </div>
    <div>
      <label for="category_id">Catégorie</label>
      <select name="category_id" id="category_id">
        {% for category in categories %}
          <option
            value="{{ category.id }}"
            {% if app.formData.category_id == category.id %}selected{% endif %}
            >{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="image">Image</label>
      <input type="file" name="image" id="image" />
    </div>
    <div>
      <input type="checkbox" id="use-default-image" name="use-default-image" />
      <label for="use-default-image">Utiliser l'image par défault</label>
    </div>
    <div>
      <input type="submit" value="Modifier" />
    </div>
  
  </form>


{% endblock %}